
.entrar{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -30%);
    text-decoration: none;
    border-radius: 10px;
    font-size: 28px;
}

.cadastro{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -30%);
    border-radius: 10px;
    font-size: 28px;
    color: white; 
    
}

a{
    text-decoration: none;
    outline: none;
    color: azure;
}

button{
    outline: none;
    border: none;
    border-color:  green;
    background-color: green;
    border-radius: 15px;
    color: white; 
}
.texta{
    position: absolute;
    top: 30%;
    left: 53%;
    transform: translate(-50%, -40%);
    color: white;
}

.box{
    background: linear-gradient(to right, rgb(46, 182, 44), rgb(87, 200, 77));
}

.logo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -60%);

}